---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot<BOT_API_TOKEN>/test/getMyCommands
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":[{"command":"menu","description":"Show actions"},{"command":"help","description":"Show
        help"}]}'
  recorded_at: Mon, 21 Aug 2023 10:01:01 GMT
recorded_with: VCR 6.1.0
