---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot<BOT_API_TOKEN>/test/getMe
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error_code":404,"description":"Not Found"}'
  recorded_at: Thu, 04 Jun 2026 14:17:21 GMT
recorded_with: VCR 6.4.0
