---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot<BOT_API_TOKEN>/test/getMe
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"id":2200529744,"is_bot":true,"first_name":"Test
        bot","username":"alexwayfer_test_bot","can_join_groups":true,"can_read_all_group_messages":false,"supports_inline_queries":false}}'
  recorded_at: Mon, 17 Jul 2023 09:06:03 GMT
recorded_with: VCR 6.1.0
